{% extends 'base.html' %}

{% block title %}Adicionar Cachorro{% endblock %}

{% block content %}
<div class="mt-4">
    <h1>Adicionar Cachorro</h1>
    <form action="/add_dog" method="post" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
            <label for="genero">Gênero:</label>
            <select name="genero" id="genero" class="form-control" required>
                <option value="" disabled selected>Selecione o gênero</option>
                <option value="Macho">Macho</option>
                <option value="Fêmea">Fêmea</option>
            </select>
        </div>
        <div class="form-group">
            <label for="porte">Porte:</label>
            <select name="porte" id="porte" class="form-control" required>
                <option value="" disabled selected>Selecione o porte</option>
                <option value="Pequeno">Pequeno</option>
                <option value="Médio">Médio</option>
                <option value="Grande">Grande</option>
            </select>
        </div>
        <div class="form-group">
            <label for="raca">Raça:</label>
            <input type="text" name="raca" id="raca" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="cor">Cor:</label>
            <input type="text" name="cor" id="cor" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="idade">Idade:</label>
            <input type="text" name="idade" id="idade" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="data_resgate">Data de Resgate:</label>
            <input type="date" name="data_resgate" id="data_resgate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="status_adocao">Status de Adoção:</label>
            <select name="status_adocao" id="status_adocao" class="form-control" required>
                <option value="Disponível">Disponível</option>
                <option value="Em Lar temporario">Em Lar temporario</option>
                <option value="Dono encontrado">Dono encontrado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="caracteristicas">Características:</label>
            <input type="text" name="caracteristicas" id="caracteristicas" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="local_resgate">Local de Resgate:</label>
            <input type="text" name="local_resgate" id="local_resgate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="abrigo_atual">Abrigo Atual:</label>
            <input type="text" name="abrigo_atual" id="abrigo_atual" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="imagem">Imagem:</label>
            <input type="file" name="imagem" id="imagem" class="form-control-file" required>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar Cachorro</button>
    </form>
</div>
{% endblock %}
