{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Bem-vindo ao PETbusca</h1>
    <p class="lead">Nossa missão é encontrar lares amorosos para todos os cães resgatados.</p>
    <hr class="my-4">
    <p>Veja os cachorros disponíveis para Lar temporario ou cadastre um novo cachorro resgatado.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('add_dog') }}" role="button">Adicionar Cachorro</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('view_dogs') }}" role="button">Visualizar Cachorros</a>
</div>
{% endblock %}
